<a id="backbtn" href="/board/{{board._id}}">Back</a>
<div id="boardSettings">
    <!-- Form for changing the board settings -->
    <form id="changeBoardForm" action="/board/settings/{{board._id}}" method="POST">
        <input type="hidden" name="_method" value="PATCH"/>
        <div class="boardNameDiv">
            <label class="bslabel" for="boardName">Name: </label>
            <input id="boardName" class="bsinput" name="boardName" type="text" placeholder="Board Name" value="{{board.boardName}}"/>
        </div>
        <div class="colorDiv">
            <label class="bslabel" for="boardColor">Color: </label>
            <input id="boardColor" class="bsinput" name="boardColor" type="color" placeholder="Color" value="{{board.boardColor}}"/>
        </div>
        <div class="descriptionDiv">
            <label class="bslabel" for="description">Description: </label>
            <textarea id="description" class="bsinput" name="description" placeholder="Description...">{{board.description}}</textarea>
        </div>
        <button class="bsbutton" type="submit">Save Changes</button>
    </form>
</div>
<div id="invite">
    <!-- Form for inviting people to the board -->
    <form id="inviteForm" action="/board/invite/{{board._id}}" method="POST">
        <div class="emailDiv">
            <label class="bslabel" for="inviteEmail">Email: </label>
            <input id="inviteEmail" class="bsinput" name="email" type="email" placeholder="User Email" required/>
            <button class="bsbutton" type="submit">Invite</button>
        </div>
    </form>

    <!-- form for deleting a board -->
    <form id="leaveBoardForm" action="/board/remove/{{board._id}}" method="POST">
        {{#if onlyMember}}
            <button id="deletebtn" class="bsbutton"type="submit">Delete Board</button>
        {{else}}
            <button id="deletebtn" class="bsbutton" type="submit">Leave Board</button>
        {{/if}}
    </form>
</div>
