<a href="/board/{{board._id}}">Back</a>
<div id="boardSettings">
    <!-- Form for changing the board settings -->
    <form action="/board/settings/{{board._id}}" method="POST">
        <div class="boardNameDiv">
            <label for="boardName">Name: </label>
            <input id="boardName" type="text" placeholder="Board Name" value="{{board.boardName}}"/>
        </div>
        <div class="colorDiv">
            <label for="positionValue">Color: </label>
            <input id="positionValue" type="text" placeholder="Color" value="{{board.color}}"/>
        </div>
        <div class="descriptionDiv">
            <label for="positionValue">Description: </label>
            <input id="positionValue" type="text" placeholder="Description" value="{{board.description}}"/>
        </div>
        <div class="submitButtonDiv">
            <button type="submit">Submit</button>
        </div>
    </form>
    <!-- form for deleting a board -->
    <form action="/board" method="POST">
        <div class="deleteButtonDiv">
            <button type="submit">Delete Board</button>
        </div>
    </form>
</div>

<div id="invite">
    
    <!-- Form for inviting people to the board -->
    <form action="/board/invite/{{board._id}}" method="POST">
        <div class="emailDiv">
            <label for="inviteEmail">Email: </label>
            <input id="inviteEmail" type="text" placeholder="Email" value=""/>
        </div>
        <div class="submitButtonDiv">
            <button type="submit">Invite</button>
        </div>
    </form>
</div>

