<div class="edit-label-container">
        <h1 class="edit-labels-title">Labels:</h1>
        <input type="button" class="close-edit-labels" id="close-edit-labels" value="X">

    <form action="/board/card/labels/{{boardId}}/{{cardId}}" method="POST" id="editLabels">
        {{!-- List Labels --}}
        <div class="list-of-labels" id="list-of-labels">
            {{#each labels}}
                <div class="label-input-container">
                    <input type="checkbox" id="card_label_{{@index}}" name="labels[]" value="{{this._id}}" checked>
                    <label for="card_label_{{@index}}"><p class="card-label-highlight" style="background-color: {{this.color}};"></p>{{this.text}}</label>
                </div>
            {{/each}}
        </div>
        {{!-- Add Label --}} 
        <div class="add_labels">
            <label class="add_label_name" for="add_label_name">Add Label:</label><br>
            <input type="text" id="add_label_name" name="add_label_name"><br>
        </div>        

        <button class="submit_label_changes" type="submit">Submit Changes</button>
    </form>
</div>