<div>
    <h3>Labels</h3>
    <input type="checkbox" id="edit_labels">
    <label for="edit_labels">Close</label>

    {{!-- List Labels --}}
    <form action="/boards/card/labels/{{boardId}}/{{cardId}}" method="PATCH" id="editLabels">
        {{#each labels}}
            <input type="checkbox" checked id="card_label_{{@index}}">
            <label for="card_label_{{@index}}"><p class="card-label-highlight" style="background-color: {{this.color}};"></p><p>{{this.text}}</p></label>
        {{/each}}

        {{!-- Add Label --}} 
        <label for="add_label_name">Label Name</label><br>
        <input type="text" id="add_label_name" name="add_label_name"><br>

        <button type="submit">Submit Changes</button>
    </form>
</div>