<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <link rel="shortcut icon" type="image/jpg" href="../../public/images/favicon.ico"/>
</head>
<body>
    <nav>
        <ul id="nav-list">
            <li><a href="/"><img id="nav-logo" src="/public/images/logo/board_hub.PNG"></a></li>
            {{#if error}}
            {{else}}
                <li id="nav-pfp-li"><a href="/user" id="nav-pfp" style="background-color: {{user.color}};">{{user.initials}}</a></li>
            {{/if}}            
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <!-- If we decide we for some reason don't want to show our names on every page we can change that class to display: none; -->
    {{#if footer}}
    <footer>Created by Michael Karsen, Jackson Perry, Marco Polimeni, Rocco Polimeni, and Brian Wormser</footer>
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    {{> (lookup . 'partial') }}
</body>
</html>